/* General setup */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Montserrat:wght@200&display=swap');

html {
	font-size: 12px;
	background-color: #F5FFFA;
}

body {
  font-family: Arial, sans-serif;
}

/* typography */

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h1, h2{
	text-align: center;
	color: #00008B;
  font-family: 'Marck Script', cursive;
}

h3 {
	color: #00008B;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

.current {
  font-size: 1.3em;
  color: lightblue;
}

/* layout */

.headcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.headbox {
  background-color: #F0FFFF;
  border: 3px solid;
  height: fit-content;
  width: fit-content;
  padding: 0px 12px;
  margin: 0px 18px;
  text-align: center;
}

nav, footer {
  background-color: #696969;
  font-family: 'Montserrat', sans-serif;
}

nav h3 {
  color: #FFFFFF;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav a {
  border: 2px solid black;
  display: inline;
  text-align: center;
  text-decoration-color: white;
  flex: 1;
}

a:hover {
  text-decoration: none;
}

nav a:hover h3 {
  font-size: 1.3em;
}

.piccontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.picblock {
  background-color: #F0FFFF;
  border: 1px solid;
  margin: 15px;
  height: fit-content;
  width: fit-content;
}

figure img {
  max-width: 1100px;
  width: 80%;
  align-items: center;
}

.figcenter {
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

footer p {
  color: white;
}

footer img {
  border: 3px solid white;
  margin: 10px 25px;
  width: 60px;
}