/* General setup */

html {
	font-size: 12px;
	background-color: #F5F5DC;
}

body {
  font-family: Arial, sans-serif;
}

/* typography */

h1, h2{
	text-align: center;
	color: #00008B;
}

h3 {
	color: #00008B;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

.figcenter {
	text-align: center;
}

.current {
  font-size: 1.3em;
  color: #00FFFF;
}

/* layout */

header {
  background-color: #F0FFFF;
  border: 3px solid;
}

nav, article, aside, footer {
  background-color: #6495ED;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav a {
  border: 2px solid black;
  display: inline;
  text-align: center;
  flex: 1;
}

a:hover {
  text-decoration: none;
}

a:hover li h3 {
  font-size: 1.3em;
}

a:visited li h3{
  color: black;
}
