.gallery-wrap {
	display: flex;
	flex: 0 1;
	flex-flow: row wrap;
	justify-content: center;
	margin: 15px 0px;
}

.gallery-piccontainer {
	width: 47%;
	display: flex;
	margin: 5px;
	justify-content: center;
	align-items: center;
	border: 1px solid #015367;
	background-color: #04819E;
}